<h1>Editar Prédio</h1>

<table class="example-full-width">
  <tr>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome do predio</mat-label>
        <input matInput type="text" [(ngModel)]="building.name">
      </mat-form-field>
    </td>
  </tr>

  <tr>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Capacidade Máxima</mat-label>
        <input matInput [(ngModel)]="building.maxcapacity">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Andar(es)</mat-label>
        <input matInput [(ngModel)]="building.floors">
      </mat-form-field>
    </td>
  </tr>

  <tr>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="building.description">
      </mat-form-field>
    </td>
  </tr>
</table>

<button mat-raised-button class="float" color="primary" style="float: right;" (click)="save()">
  Salvar
</button>
